<% @carts.each do |cart| %>
    <p>
        <%= link_to "商品名：#{product.name}", "価格：products/#{product.id}円" %>
        <%= link_to '削除', "products/#{product.id}", method: :delete %>
    </p>
<% end %>