<p>商品一覧</p>
<% @products.each do |product| %>
    <p>
        <%= "商品名：#{product.name}　" %>
        <%= "価格：#{product.price}円" %>
        <%= link_to '削除', "products/#{product.id}", method: :delete %><br>
        <%= select_tag(:qty,options_for_select((1..20))) %>
        <%= link_to 'カートに追加', cart_items_path %>
    </p>
<% end %>
<p> <%= link_to '新規追加', new_product_path %> </p>
<p> <%= link_to '戻る', top_main_path %> </p>